@using _50DersteMvc.Models.Entity
@model List<TBL_KATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th> KATEGORİ ID </th>
        <th> KATEGORİ ADI </th>
        <th> SİL </th>
        <th> GÜNCELLE </th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <th> @ktgr.KATEGORIID</th>
                <td> @ktgr.KATEGORIADI</td>
                <td> <a href="/Kategori/Sil/@ktgr.KATEGORIID" class="btn btn-danger">Sil</a></td>
                <td> <a href="/Kategori/KategoriGetir/@ktgr.KATEGORIID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>

