@model _50DersteMvc.Models.Entity.TBL_URUNLER

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" />
    </div>
    <br />
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="MARKA" required="" />
    </div>
    <br />
    <div>
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m => m.TBL_KATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" required="" />
    </div>
    <br />
    <div>
        <label>Stok Adeti</label>
        <input type="text" class="form-control" name="STOK" required=""/>
    </div>
    <br />
    <div>
        <button class="btn btn-primary">Ürün Ekle</button>
    </div>
</form>